.about {
    .about__titulo {
        @extend %titulo;
        font-size: 300%;
        margin-top: 3rem;
        width: 100%;
        text-align: left;
    }

    .about__texto {
        line-height: 2;
        font-size: 110%;
        margin-bottom: 2rem;
    }
}


.trust {
    margin: 4rem 0 2rem;

    .trust__info {

        .trust__titulo {
            @extend %titulo;
        }

        .trust__texto {
            line-height: 2;
            margin-bottom: 2rem;
            text-align: center;
        }

    }

    .trust__fotos {
        text-align: center;
    }
}




