.our_services {
    .services__titulo {
        @extend %titulo;
        font-size: 300%;
        margin-top: 3rem;
    }

    .services__texto {
        line-height: 2;
        font-size: 120%;
        margin-bottom: 2rem;
    }
}


.services {

    .services__imagen {
        margin-bottom: 2rem
    }
    .services_info__titulo {
        @extend %titulo;
        text-align: left;
    }
    
    .services_info__texto {
        line-height: 2;
        margin-bottom: 2rem;
    }
    
    .services__info__boton {
        margin-bottom: 2rem
    }
    .services_info__cta {
        @extend %cta;
    }
}
